.container{
    display: flex;
    .item {
        align-self: center;
    }
    img {
        border-radius: 100px;
        border: 2px solid #a1a1a1
        width: 200px;
        height: 200px;
    }
    p {
        font-size: 25px;
        margin: 0 20px;
    }
}
