ul {
    list-style-type: none;
    margin: 0;padding: 0;
    li {
        margin-bottom: 15px;
        transition: all 150ms ease-in-out;
        &:hover{
            transform: scale(1.02);
        }
    }
}